{% extends "principal/index.html" %}
{% load static %}
{% block title %} Registrarse {% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<br>
<div class="container.fluid mt-4">
    <img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner2">   
    <div class="fondo_banner2">
      <div class= "container col-md-6 col-lg-6 col-xl-4" style="background-color: rgb(236, 236, 236); padding:30px; position: relative; top: 40px;">
        <form method="POST" action="{% url 'login' %}"> 
        {% csrf_token %}    
          <div class="form-row">  
            <div class="form-group col-md-12">
              <h2 style="padding-bottom: 10px;">Ingresá</h2>
                <div class="form-row">
                  <div class="form-group col-md-12">                  
                <label for="exampleDropdownFormEmail1"> Correo electrónico:</label>
                <div>
                <i class="fas fa-user-circle icono_login"></i>
                <input type="text" class="form-control campos_login" id="exampleDropdownFormEmail1" placeholder="Ingrese su email" name="username" />
              </div>
            </div>
          </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="exampleDropdownFormPassword1">Contraseña: </label>
                    <div>
                        <i class="fas fa-unlock-alt icono_login"></i>
                        <input type="password" class="form-control campos_login" id="exampleDropdownFormPassword1" placeholder="*********" name="password">
                  </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="dropdownCheck">
                      <label class="form-check-label" for="dropdownCheck">
                        Recuérdame
                      </label>
                    </div>
            
                    </div>
                  </div>

                <div class="container"><button type="submit" class="btn btn-info text-justify">Ingresar</button>
          </form>
              <div class="dropdown-divider"></div>
                <a style="color: black;" href="/sign_in/">¿Eres nuevo? Regístrate</a>
                <div>
                <a style="color: black;" href="/reset_password/">¿Olvidaste tu contraseña?</a>    
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
