{% extends "principal/index.html" %}
{% load static %}
{% block title %} Registrarse {% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<br>
<div class="container.fluid mt-4">
    <img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner2">   
    <div class="fondo_banner2">
      <div class= "container col-md-8 col-lg-6 col-xl-6 box_cristal b-s">
        <form method="POST" action="{% url 'login' %}"> 
        {% csrf_token %}    
          <div class="form-row">  
            <div class="form-group col-md-12">
              <div class="container text-center" style="margin-bottom: 30px;">
                <img src="{% static 'principal/img/login_image.png' %}" style="width:150px;"  alt="Usuario">
                <h3>Iniciar sesión</h3>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-12">                  
                    <div>
                    <i class="fas fas fa-envelope icono_login "></i>
                    <input type="text" class="form-control campos_login b-s" id="exampleDropdownFormEmail1" placeholder="Correo Electrónico" name="username" />
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div >
                        <i class="fas fa-unlock-alt icono_login"></i>
                        <input type="password" class="form-control campos_login b-s" id="exampleDropdownFormPassword1" placeholder="Contraseña" name="password">
                    </div>
                    <div class="text-right link_login">
                      <a href="/reset_password/">¿Olvidaste tu contraseña?</a>    
                    </div>                    
                  </div>
                </div>

                  <div class="text-center">
                    <button type="submit" class="btn boton mb-2">Ingresar</button>
                  </div>
          </form>
              <div class="dropdown-divider"></div>
              <div class="text-right link_login">
                <a href="/sign_in/">¿Eres nuevo? Regístrate</a>
              </div>
              </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
