{% load static %}

<footer id="footer" class="pb-1 pt-5" >
    <div class="container" >
        <div class="row">
            <div class= "col-md-9">                
                <div class="row">
                    <div class= "col-md-5" style="margin-right: 50px;">
                    
                        <h4 style="padding-bottom: 15px; color: #F2F0F2;">Sobre nosotros</h4>
                        <p style="color: rgb(136, 136, 136);" >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Libero repellat illum culpa voluptatum mollitia dolores quae inventore molestias, 
                            delectus minima ipsam reiciendis veritatis consequatur voluptatibus corporis repellendus id necessitatibus 
                            eaque.</p>
                    </div>
                        <div class= "col-md-4-">
                            <ul style="list-style: none; padding-left: 15px">
                                <h4 style="padding-bottom: 15px; color: #F2F0F2;">Links</h4>
                                <li style="padding-bottom: 10px; ">
                                    <a style= "color: rgb(136, 136, 136);" href="/preguntas_frecuentes/">Preguntas frecuentes</a>
                                </li>
                                <li style="padding-bottom: 10px;">         
                                    <a style= "color: rgb(136, 136, 136);"href="/quienes_somos/">¿Quiénes somos?</a>                    
                                </li>
                                <li style="padding-bottom: 10px;">             
                                    <a style= "color: rgb(136, 136, 136);"href="/contacto/">Contacto</a>
                                </li>
                                <li style="padding-bottom: 10px;">                
                                    <a style= "color: rgb(136, 136, 136);"href="/asociar_un_refugio/">Asociar un refugio</a>
                                </li>
                                <li style="padding-bottom: 10px;">
                                    <a style= "color: rgb(136, 136, 136);"href="/terminos_y_condiciones/">Términos y condiciones</a>
                                </li>

                            </ul>
                        </div>
                </div>
            </div>                            

            <div class= "col-3">
                <h4 style="padding-bottom: 15px;color: #F2F0F2;"> Suscríbete</h4>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ingrese email" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-dark" type="button" id="button-addon2">Enviar</button>
                    </div>
                  </div>
                <h4 style="padding-bottom: 15px;color: #F2F0F2;"> Síguenos</h4>
                </div>
    </div>
</footer>  





