{% extends "principal/index.html" %}
{% load static %}

{% block title %} Refugios {% endblock %}

{% block content %} 

<br>
<div class="container mt-4 contenedor_imagen pr-0 " >  
  <div class="container text-center fondo_banner p-0">
      <h1 class="texto_banner"> Refugios</h1>
  </div>
<img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner">
</div>

<div class="container mt-4 mb-4 ">
    {% for refugio in refugios %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{refugio.foto_refugio.url}}" class="card-img" alt="..." style="height: 235px; margin-bottom: 20px;">
        </div>
        <div class="col-md-6">
            <div class="card col-md-12 " style="background-color: white; padding: 10px;">
            <div class="card-body">
                <h3 class="card-title">{{refugio.nombre}} </h3>
                <p class="card-text" style="margin-bottom: 65px; font-size: 17px; ">
                    {{refugio.descripcion}}
                </p>
              </div>       
            </div>            
     
        </div>

</div>

    {% endfor %}

</div>


{% endblock %}
