{% extends "principal/index.html" %}
{% load static %}

{% block title %} Información {% endblock %}

{% block content %} 
<br>
<div class="container.fluid mt-4" >
  <img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner"> 
<div class="fondo_banner">
    <p class="texto_banner"> Información</p>
</div>

</div>
</div>

<div class="container pt-2" style="text-align: center; background-color: white;">
    <h1 class="mt-4">ENCUENTRA MI MASCOTA </h1>
        <p>
        <h2 style=> En está página, te vamos a ayudar a encontrar a tu mascota perdida! </h2>
        <br>
        <h3><strong>¿Cómo lo hacemos?</strong></h3>
        <ul>
    <div class="row col-md-12">
        <div class="card col-sm-9 col-md-12 col-lg-4 " style="width: 18rem;  background-color: #9CECFF;">
    <div class="card-body">
      <h3 class="card-title">Registro</h3>
      <p class="card-text" style="margin-bottom: 65px; font-size: 17px; ">En primer lugar, debes registrarte completando una serie de datos.</p>
      <a href="/sign_in/" class="btn btn-info" >Registrate</a>
    </div>
  </div>
  <div class="card col-sm-9 col-md-12 col-lg-4 " style="width: 18rem; background-color: #9CECFF;">
    <div class="card-body">
      <h3 class="card-title">Búsqueda</h3>
      <p class="card-text" style="margin-bottom: 40px; font-size: 17px;">Luego debes crear una búsqueda, la cual se compartirá en nuestra página web y redes sociales.
      </p>
      <a href="/busquedas/" class="btn btn-info">Crear búsqueda</a>
    </div>
  </div>
  <div class="card col-sm-9 col-md-12 col-lg-4" style="width: 18rem; background-color: #9CECFF;">
    <div class="card-body">
      <h3 class="card-title">Novedades</h3>
      <p class="card-text" style="margin-bottom: 40px;font-size: 17px;">Una vez que tu búsqueda se encuentre activa, te contactarémos ante cualquier novedad al respecto</p>
      <a href="/notificaciones_usuario/" class="btn btn-info">Mis notififaciones</a>
    </div>
  </div>
</div>
<div class="row col-md-12 mt-2">
<div class="card col-sm-9 col-md-12 col-lg-12 col-xl-12 mb-4" style="width: 18rem; background-color: #9CECFF;">
    <div class="card-body">
      <h3 class="card-title">Consultas</h3>
      <p class="card-text" style="font-size: 17px;">Si tenés dudas o necesitas ayuda, te podes comunicar con nosotros en la sección de contacto</p>
      <a href="/contacto/" class="btn btn-info">Contacto</a>
    </div>
  </div>
</div>

</div>
    <div class="container" style="background-color:white;  color: black;">
    <h2 style="text-align: center;">Esperamos ayudarte a encontrar a tu pequeño ser querido pronto!!!</h2>
    </div>
</div>



{% endblock %} 
