{% extends "principal/index.html" %}
{% load static %}

{% block title %} Refugios {% endblock %}

{% block content %} 

<br>
<div class="mt-4 contenedor_imagen pr-0 mb-0" >  
  <div class="text-center fondo_banner p-0">
      <h1 class="texto_banner"> Preguntas frecuentes</h1>
  </div>
<img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner">
</div>

<section class="preguntas_frecuentes">
  <div class="container">
      <div class="row contenedor_preguntas">
          <div class="col-lg-6">
                      <div class="accordion" id="accordionExample">
                          <div class="preguntas_frecuentes_card">
                              <div class="preguntas_frecuentes_titulo" id="headingTwo">
                                  <a href="#" class="accordion " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">¿Por donde empiezo?</a>
                              </div>
                              <div id="collapseTwo" class="accordion-collapse collapse show " aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="respuesta_pregunta">
                                      <p class="text">Para encontrar a tu mascota, primero debes registrate haciendo <a class="btn btn-outline-dark btn-sm" href="/sign_in/">click aqui.</a> De esta manera, podrás subir los datos de tu mascota para comenzar su búsqueda. </p>
                                  </div>
                              </div>
                          </div> 
                          <div class="preguntas_frecuentes_card">
                              <div class="preguntas_frecuentes_titulo" id="headingThree">
                                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">¿Cómo funciona?</a>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="respuesta_pregunta">
                                      <p class="text">Una vez que te registres y cargues los datos de tu mascota, tu búsqueda aparecerá en esta página web y la daremos a conocer por medio de nuestras redes sociales.</p>
                                  </div>
                              </div>
                          </div> 
                          <div class="preguntas_frecuentes_card">
                              <div class="preguntas_frecuentes_titulo" id="headingFore">
                                  <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">¿Cómo me mantengo actualizado sobre mi búsqueda?</a>
                              </div>
                              <div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
                                  <div class="respuesta_pregunta">
                                      <p class="text">Nosotros te mantendremos informado sobre las novedades de tu búsqueda. Recibirás un correo electrónico cada vez que alguien aporte información valiosa sobre la ubicación de tu querida mascota.  </p>
                                  </div>
                              </div>
                          </div> 
                          <div class="preguntas_frecuentes_card">
                              <div class="preguntas_frecuentes_titulo" id="headingFive">
                                  <a href="#" class="collapsed pb-4" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Tengo un problema. ¿Con quién me comunico?</a>
                              </div>
                              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                  <div class="respuesta_pregunta">
                                      <p class="text">En caso que tengas dudas, sugerencias o algún incoveniente, te podés contactar con nosotros haciendo <a class="btn btn-outline-dark btn-sm boton_preguntas" href="/contacto/"> click aqui.</a></p>
                                  </div>
                              </div>
                          </div> 
                      </div>
          </div>
          <div class="col-md-6">
              <div class="about-image">
                  <img src="{% static 'principal/img/quienesSomos1.jpg' %}">
              </div> 
          </div>
      </div>
  </div> 
</section>

{% endblock %}
