{% extends "principal/index.html" %}

{% block title %} Refugios {% endblock %}

{% block content %} 

<br>
<div class="container.fluid mt-4" style="background:url(https://s1.1zoom.me/b5050/420/429416-svetik_2560x1440.jpg); 
width: 100%; height: 550px; background-repeat: no-repeat;background-size: cover; position: relative;" >

<div style="background-color: rgba(12, 12, 12, 0.7); width: 100%; height: 550px; position: absolute;" >
  <p style="color: white; font-size: 70px; padding-top: 300px; text-align: center; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;"> ¿Quiénes somos?</p>

</div>
</div>

<div class="container mt-4 mb-4 ">
    <div class="row">
        <div class="col-md-6">
    <img src="https://okdiario.com/img/2017/04/06/unnamed-655x368.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card col-md-12 mb-4" style="height: 19rem;  background-color: white; padding-top: 15px;">
            <div class="card-body">
                <h3 class="card-title">Nuestra misión</h3>
                <p class="card-text" style="margin-bottom: 45px; font-size: 17px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia nisi repudiandae ducimus. Corporis temporibus, aliquam pariatur rerum earum tenetur perspiciatis, quae adipisci eveniet voluptas harum velit, ullam aliquid accusamus.</p>
                <a href="/sign_in/" class="btn btn-info" >Más información</a>
              </div>       
            </div>            
     
        </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="card col-md-12 mb-4" style="height: 19rem;  background-color: white; padding-top: 15px;">
            <div class="card-body">
                <h3 class="card-title">Nuestra historia</h3>
                <p class="card-text" style="margin-bottom: 65px; font-size: 17px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia nisi repudiandae ducimus. Corporis temporibus, aliquam pariatur rerum earum tenetur perspiciatis, quae adipisci eveniet voluptas harum velit, ullam aliquid accusamus.</p>
                <a href="/sign_in/" class="btn btn-info" >Más información</a>
              </div>       
            </div>           </div>
    <div class="col-md-6">
        <img src="https://okdiario.com/img/2017/04/06/unnamed-655x368.jpg" class="card-img" alt="...">
    </div>

</div>

</div>


<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 text-center" style="margin: 5px;">
        <h3>Nuestro equipo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repudiandae expedita consectetur, obcaecati at optio, quia, sint voluptates accusamus eligendi unde molestiae nemo id? Nihil, totam sed. In, impedit laboriosam?</p>
    </div>
</div>
    <div class="row">
        <div class="col-md-4 text-center mb-4" >
            <img src="https://okdiario.com/img/2017/04/06/unnamed-655x368.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-4 text-center" >
            <img src="https://okdiario.com/img/2017/04/06/unnamed-655x368.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-4 text-center" >
            <img src="https://okdiario.com/img/2017/04/06/unnamed-655x368.jpg" class="card-img" alt="...">
        </div>
    </div>

</div>
{% endblock %}
