{% extends "principal/index.html" %}
{% load static %}
{% block title %} Quienes somos {% endblock %}
{% block content %}

<br/>
<div class="mt-4 contenedor_imagen pr-0 mb-3">
  <div class="imagen_banner">
    <img
      src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}"
      class="imagen_banner"
    />
    <div class="fondo_banner p-0"></div>
    <h1 class="texto_banner">¿Quiénes somos?</h1>
  </div>
</div>

<div class="container mt-4 mb-4 quienes_somos">
    <div class="card-deck ">
        <div class="card b-s ">
            <img src="{% static 'principal/img/quienesSomos1.jpg' %}" class="card-img imagen_quienes_somos" alt="...">
            <div class="card-body bloque_descripcion">
                <h2 class="card-title titulo_card">Nuestra misión</h2>
                <p class="card-text descripcion_quienes_somos"> Tenemos por misión el ayudarte a
                    encontrar a tu mascota perdida. Vamos a intentarlo usando todas las herramientas que creamos en esta
                    web.</p>
            </div>
        </div>
        <div class="card b-s">
            <img src="{% static 'principal/img/quienesSomos2.jpg' %}" class="card-img imagen_quienes_somos" alt="...">
            <div class="card-body bloque_descripcion">
                <h2 class="card-title titulo_card">Nuestra historia</h2>
                <p class="card-text descripcion_quienes_somos"> Este proyecto se generó gracias al
                    gran amor que siento por los animales. Siempre tuve el deseo de poder ayudar a los perros y gatos
                    que se encuentran sin un hogar. Además, ayudar a las personas a que encuentren a sus preciadas
                    mascotas.</p>
            </div>
        </div>
    </div>
</div>




{% endblock %}