{% extends "principal/index.html" %}
{% load static %}

{% block title %} Refugios {% endblock %}

{% block content %} 

<br>
<div class="mt-4 contenedor_imagen pr-0 " >  
  <div class="text-center fondo_banner p-0">
      <h1 class="texto_banner"> Refugios</h1>
  </div>
<img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner">
</div>

<div class="container mt-4 mb-4 pr15 pl15" >
        {% for refugio in page_obj %}
        <div class="row b-s">
            <div class="col-lg-5 contenedor_card">
                <img src="{{refugio.foto_refugio.url}}" class="card-img imagen_refugio" alt="..." >
            </div>
            <div class="col-lg-7 contenedor_card">
                <div class="card col-md-12 bloque_refugio">
                <div class="card-body">
                    <h4 class="card-title titulo_card">{{refugio.nombre}} </h4>
                    <p class="card-text descripcion_refugio">
                        {{refugio.descripcion}}
                    </p>
                    <div class="boton_info">
                    <a href='{{refugio.id}}/' class="btn btn-md btn-info"  >Más información</a>
                    </div>
                  </div>       
                </div>         
            </div>
        </div>

        <hr class="b-s">
        {% endfor %}
        
          </div>
          </div>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if page_obj.has_previous %}
          <a class="page-link paginacion" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true" class="paginacion">Anterior</span>
          </a>
        {% endif %}
      </li>
        
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item ">
          <a class="page-link paginacion" href="?page={{ i }}">  <span class="paginacion"> {{ i }} </span></a>
        </li>
        {% endfor %}
      <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link paginacion" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true" class="paginacion">Siguiente </span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>


{% endblock %}
