{% extends "principal/index.html" %}
{% load static %}
{% block title %} Refugios {% endblock %}

{% block content %} 

<br>
<div class="container.fluid mt-4" >
  <img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner"> 
<div class="fondo_banner">
    <p class="texto_banner"> Adoptar una mascota</p>
</div>

<div class="container mt-4 mb-4">
    <div class="row">
    <div class="col-md-5 ml-5 mr-2 mb-4">
<div class="card bg-light text-black">
    <img src="https://images.clarin.com/2016/07/22/consiente-a-tus-amigos-peludos___SkGGSwhFVx_1256x620.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">Nombre de la mascota</h4>
      <h5 class="card-text">Refugio "X"</h5>
      <h6 class="card-text" style="padding-top: 110px; text-align: right;">Last updated 3 mins ago</h6>
    </div>
</div>
    </div>
<div class="col-md-5 ml-5 mr-2 mb-4">
<div class="card bg-light text-white">
    <img src="https://images.clarin.com/2016/07/22/consiente-a-tus-amigos-peludos___SkGGSwhFVx_1256x620.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">Nombre de la mascota</h4>
      <h5 class="card-text">Refugio "X"</h5>
      <h6 class="card-text" style="padding-top: 110px; text-align: right;">Last updated 3 mins ago</h6>
    </div>
</div>
</div>

</div>

<div class="row">
    <div class="col-md-5 ml-5 mr-2 mb-4">
<div class="card bg-light text-white">
    <img src="https://images.clarin.com/2016/07/22/consiente-a-tus-amigos-peludos___SkGGSwhFVx_1256x620.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">Nombre de la mascota</h4>
      <h5 class="card-text">Refugio "X"</h5>
      <h6 class="card-text" style="padding-top: 110px; text-align: right;">Last updated 3 mins ago</h6>
    </div>
</div>
    </div>
<div class="col-md-5 ml-5 mr-2 mb-4">
<div class="card bg-light text-white">
    <img src="https://www.ecestaticos.com/imagestatic/clipping/83e/b54/83eb54c9081e10cbc449731d86b48781/puedes-alimentar-a-tus-perros-y-gatos-con-una-dieta-vegana.jpg?mtime=158342144" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">Nombre de la mascota</h4>
      <h5 class="card-text">Refugio "X"</h5>
      <h6 class="card-text" style="padding-top: 110px; text-align: right;">Last updated 3 mins ago</h6>
    </div>
</div>
</div>

</div>
  </div>
{% endblock %}