{% extends "principal/index.html" %}
{% load static %}
{% block title %} Asociar refugio {% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<br>
<div class="mt-4 contenedor_imagen pr-0 mb-3" >  
  <div class="text-center fondo_banner p-0">
      <h1 class="texto_banner"> Asociar un refugio</h1>
  </div>
<img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner">
</div>

<div class="container col-md-6 pt-4 mb-4 formularios b-s" >

  <form action="" method="POST" id="formulario_refugio" enctype="multipart/form-data" class="pb-4" onkeyup="descripcion_refugio()">

    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-12 mb-0">
          {{ refugio.nombre | as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
          {{ refugio.email | as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
          {{ refugio.confirmacionEmail | as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2 mb-0">
          {{ refugio.codigoArea | as_crispy_field }}
      </div>
      <div class="form-group col-md-5 mb-0">
          {{ refugio.telefono | as_crispy_field }}
      </div>
      <div class="form-group col-md-5 mb-0">
        {{ refugio.celular | as_crispy_field }}
    </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
          {{ refugio.direccion | as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
          {{ refugio.localidad | as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ refugio.cp | as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {{ refugio.provincia | as_crispy_field }}
    </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
          {{ refugio.facebook | as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
          {{ refugio.instagram | as_crispy_field }}
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-12 mb-0">
          {{ refugio.descripcion | as_crispy_field }}
        <div id="caracteres_refugio"> 300 de 300 caractéres restantes</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12 mb-0">
        {{ refugio.foto_refugio | as_crispy_field }}
      </div>
    </div>

    <div class="container text-center">
    <button type="button" class="btn btn-info btn-md text-center" style="width: 100px;" id="enviar_refugio"; onclick="asociar_refugio()">Enviar</button>
    </div>
  </form>
</div>






<!--

<div class="container col-md-6 pt-4" style="background-color:white; color: black; ">
<form>
    <div class="form-row">
      <d iv class="form-group col-md-12">
        <input type="text" class="form-control" id="inputName" placeholder="Nombre del refugio*">
      </div>      
      </div>        
    <div class="form-row">
        <div class="form-group col-md-6">
          <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico*">
        </div>
        <div class="form-group col-md-6">
          <input type="email" class="form-control" id="inputEmail" placeholder="Repita correo electrónico*">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputAddress" placeholder= "Domicilio*">
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputCity"placeholder="Localicad*">
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" id="inputZip" placeholder="C.P*">
        </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <input type="text" class="form-control" id="inputCodArea"placeholder="Cód.Área*">
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="inputTel" placeholder="Teléfono*">
      </div>
        <div class="form-group col-md-6 ">
          <input type="number" class="form-control" id="inputCel" placeholder="Celular">
        </div>
        </div> 
        <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="inpuFacebook" placeholder="Facebook">
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="inputInstagram" placeholder="Instagram">
            </div>
            <div class="form-group col-md-12">
            <textarea class="form-control" id="descripcionRefugio" rows="4" placeholder="Descripción del refugio*"></textarea>
            </div>
        </div>
        <form>
            <div class="form-group">
              <label for="fotomascota">Foto del refugio</label>
              <input type="file" class="form-control-file" id="fotoRefugio">
            </div>
        </form>
    <p style="font-weight:lighter; color:black";>Los campos con (*) son obligatorios</p>  
    <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck">
          <label class="form-check-label" for="dropdownCheck" style="color: black;">
            Acepto los <a href="/terminos_y_condiciones/">Terminos y condiciones</a>
          </label>
        </div>
    </div>
    <div class="container text-center">
    <button type="submit" class="btn btn-dark btn-lg " style="width: 200px;">Enviar</button>
  </div>
  </form>
  <br>
</div>
<br>


!-->


{% endblock %}
