{% extends "index.html" %}

{% block title %} Registrarse {% endblock %}

{% block content %} 

<br>


<div class="container.fluid mt-4" style="background:url(https://s1.1zoom.me/b5050/420/429416-svetik_2560x1440.jpg); 
width: 100%; height: 600px; background-repeat: no-repeat;background-size: cover; position: relative;" >

<div style="background-color: rgba(12, 12, 12, 0.7); width: 100%; height: 600px; position: absolute;" >
  <br>

  <div class= "container col-md-4 mt-5" style="background-color: rgb(236, 236, 236); padding:30px;">
    <form>
      <div class="form-row">
      <div class="form-group col-md-12">
        <h2> Cambiar contraseña:</h2>
        <label for="inputName">Ingrese su antigua contraseña:</label>
        <input type="password" class="form-control" id="inputEmail" placeholder="Ingrese su antigua contraseña">
      </div>
  </div>

      <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputSurname">Ingrese su nueva contraseña:</label>
        <input type="password" class="form-control" id="inputEmail" placeholder="Ingrese su nueva contraseñ">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputSurname">Ingrese nuevamente su nueva contraseña:</label>
      <input type="password" class="form-control" id="inputEmail" placeholder="Ingrese nuevamente su nueva contraseña">
    </div>
</div>

      <div class="container"><button type="submit" class="btn btn-info text-justify">Confirmar</button>
    </form>

  </div>
  </div>

  </div>

</div>

</div>
</div>
</div>



{% endblock %}