{% extends "principal/index.html" %}
{% load static %}
{% block title %} Registrarse {% endblock %}

{% block content %} 

<br>
<div class="container.fluid mt-4">
  <img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner2">   
  <div class="fondo_banner2">
  <div class= "container col-md-4" style="background-color: rgb(236, 236, 236); padding:30px;position: relative; top: 130px;">
    <form>
      <div class="form-row">
      <div class="form-group col-md-12">
        <h2> Cambiar contraseña:</h2>
        <label for="inputName">Ingrese su antigua contraseña:</label>
        <input type="password" class="form-control" id="inputEmail" placeholder="Ingrese su antigua contraseña">
      </div>
  </div>

      <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputSurname">Ingrese su nueva contraseña:</label>
        <input type="password" class="form-control" id="inputEmail" placeholder="Ingrese su nueva contraseña">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputSurname">Ingrese nuevamente su nueva contraseña:</label>
      <input type="password" class="form-control" id="inputEmail" placeholder="Ingrese nuevamente su nueva contraseña">
    </div>
</div>
      <div class="container text-center">
        <button type="submit" class="btn btn-info btn-lg " style="width: 150px;">Confirmar</button>
      </div>
    </form>
  </div>
  </div>
  </div>


{% endblock %}