{% extends "principal/index.html" %}
{% load static %}

{% block title %} Registrarse {% endblock %}

{% block content %} 
<br>
<div class="container mt-4 contenedor_imagen" >  
  <div class="texto_banner">
      <h1> Bienvenido "X"</h1>
  </div>
<img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner">
</div>
</div>


<div class="container mt-4 mb-4">

<div class="row">
    <div class="col-3"> </div>
    <div class="col-6">
        <h3 style="text-align: center;">¿Que deseas hacer?</h3>
      <div class="list-group" id="list-tab" role="tablist">
        <a class="btn btn-outline-dark " id="list-home-list" style="margin-bottom: 10px;" href="/change_password/" role="tab" >Cambiar contraseña</a>
        <a class="btn btn-outline-dark" id="list-profile-list" style="margin-bottom: 10px;" href="/subi_tu_post/" >Publicar una búsqueda</a>
        <a class="btn btn-outline-dark" id="list-messages-list" style="margin-bottom: 10px;" href="/mi_busqueda/" >Mi búsqueda</a>
        <a class="btn btn-outline-dark" id="list-settings-list" style="margin-bottom: 10px;" href="/adoptar_una_mascota/" >Adoptar una mascota</a>
        <a class="btn btn-outline-dark" id="list-settings-list" style="margin-bottom: 10px;" href="/home/" >Cerrar sesión</a>

      </div>
    </div>

  </div>

</div>




{% endblock %}