{% extends "index.html" %}

{% block title %} Registrarse {% endblock %}

{% block content %} 
<br>
<div class="container.fluid mt-4" style="background:url(https://s1.1zoom.me/b5050/420/429416-svetik_2560x1440.jpg); 
width: 100%; height: 550px; background-repeat: no-repeat;background-size: cover; position: relative;" >

<div style="background-color: rgba(12, 12, 12, 0.7); width: 100%; height: 550px; position: absolute;" >
  <p style="color: white; font-size: 70px; padding-top: 300px; text-align: center; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Mi búsqueda</p>

</div>
</div>

<a class="col-md-3"  href="/change_password/">Cambiar contraseña</a>
<div>
<a class="col-md-3" href="/subi_tu_post/">Publicar una búsqueda</a>
</div>



{% endblock %}