{% extends "principal/index.html" %}
{% load static %}

{% block title %} Cambiar contraseña {% endblock %}

{% block content %} 

<br>
<div class="container.fluid mt-4">
  <img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner2">   
  <div class="fondo_banner2">
    <br>
    <br>
  <div class= "container col-md-6 col-lg-6 col-xl-4 box_cristal" ">
    
    <h2> Recuperar contraseña:</h2>
    <p>Por favor, complete la información solicitada.</p>
    
    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputName">Correo electrónico:</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su correo electrónico">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputSurname">Repita correo electrónico:</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese nuevamente su correo electrónico">
            </div>
        </div>
        <br>
        <div class="container text-center">
          <button type="submit" class="btn boton">Confirmar</button>
        </div>
    </div>
    
     </form> 
    
    </div>
</div>





{% endblock %}