{% extends "index.html" %}

{% block title %} Registrarse {% endblock %}

{% block content %} 

<br>
<div class="container.fluid mt-4" style="background:url(https://s1.1zoom.me/b5050/420/429416-svetik_2560x1440.jpg); 
width: 100%; height: 600px; background-repeat: no-repeat;background-size: cover; position: relative;" >

<div style="background-color: rgba(12, 12, 12, 0.7); width: 100%; height: 600px; position: absolute;" >
  <br>

  <div class="container col-md-4 mt-5" style="background-color: rgb(236, 236, 236); padding: 30px;">

    <h2> Recuperar contraseña:</h2>
    <p>Por favor, complete la información solicitada.</p>
    
    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputName">Correo electrónico:</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su correo electrónico">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputSurname">Repita correo electrónico:</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese nuevamente su correo electrónico">
            </div>
        </div>
        <button type="submit" class="btn btn-info">Confirmar</button>
    </div>
    
     </form>
    
    
    
    
    </div>
</div>
</div>





{% endblock %}