{% extends "principal/index.html" %}
{% load static %}

{% block title %} Registrarse {% endblock %}
{% block content %} 

{% load crispy_forms_tags %}

<br>
<div class="mt-4 contenedor_imagen pr-0 mb-3" >  
  <div class="text-center fondo_banner p-0">
      <h1 class="texto_banner"> Registrate</h1>
  </div>
<img src="{% static 'principal/img/429416-svetik_2560x1440.jpg' %}" class="imagen_banner">
</div>

<div class="container col-lg-5 pt-4 mb-4 formularios b-s">
  <form method="POST" action="{% url 'sign_in' %}">
  {% csrf_token %}
  <div class="form-row">
      <div class="form-group col-md-4 mb-0">
          {{ nuevoUsuario.nombre | as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
          {{ nuevoUsuario.apellido | as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ nuevoUsuario.username | as_crispy_field }}
      </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
          {{ nuevoUsuario.email | as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
          {{ nuevoUsuario.confirmacionEmail | as_crispy_field }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
          {{ nuevoUsuario.password1 | as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
          {{ nuevoUsuario.password2 | as_crispy_field }}
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Acepto los <a href="../../terminos_y_condiciones">términos y condiciones</a>
            </label>
        </div>
      </div>
    </div>
  <div class="container text-center">
    <button type="submit" class="btn btn-info btn-lg " style="width: 150px;">Registrarse</button>
  </div>
  <br>

</form>
</div>

{% endblock %}