.imagen_banner {
    width: 100%; 
    height: 400px; 
    background-repeat:no-repeat;
    background-size: cover; 
    position: absolute;
}
.imagen_banner2 {
    width: 100%; 
    height: 500px; 
    background-repeat:no-repeat;
    background-size: cover; 
    position: absolute;
}
.fondo_banner {
    background-color: rgba(12, 12, 12, 0.7); 
    width: 100%; 
    height: 400px; 
    position: relative;
}
.fondo_banner2 {
    background-color: rgba(12, 12, 12, 0.7); 
    width: 100%; 
    height: 500px; 
    position: relative;
}
.texto_banner{
    color: white; 
    font-size: 50px; 
    padding-top: 240px; 
    text-align: center; 
    font-weight: 500; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imagen_home{
    width: 100%; 
    height: 700px;
    
}

.presentacion {
    background-color: rgba(12, 12, 12, 0.7);
}

.quienes_somos{
    text-align: center;
}

.imagen_quienes_somos {
    box-sizing: border-box;
    width: 100%;
    height: 15em; 
}

.staff {
    border-style: solid;
    border-radius: 200px;
}


.busqueda_foto {
    width: 100%;
    height: 15em;
}

@media (max-width: 576px) {
    .imagen_home{
         height: 250px;        
    }
}
@media (min-width: 577px) and (max-width: 1200px) {
    .imagen_home{
        height: 400px;                
   }

}


