.imagen_banner {
    width: 100%; 
    background-repeat:no-repeat;
}
.imagen_banner2 {
    width: 100%; 
    height: 500px;
    background-repeat:no-repeat;
    background-size: cover; 
    position: absolute;
}

.contenedor_imagen{
    margin-bottom: 30px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.fondo_banner {
    background: rgba(12, 12, 12, 0.6); 
    position: absolute; 
    width: 100%;

}
.fondo_banner2 {
    background-color: rgba(12, 12, 12, 0.7); 
    width: 100%; 
    height: 500px; 
    position: relative;
}
.texto_banner{
    width: 100%;
    color: white; 
    padding-top: 20%; 
    font-weight: 500; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.imagen_home{
    width: 100%; 
    height: 700px;
    
}

.presentacion {
    background-color: rgba(12, 12, 12, 0.7);
}

.quienes_somos{
    text-align: center;
}

.imagen_quienes_somos {
    box-sizing: border-box;
    width: 100%;
    height: 15em; 
}

.staff {
    border-style: solid;
    border-radius: 200px;
}


.busqueda_foto {
    width: 100%;
    height: 15em;
}

.preguntas_frecuentes {
    position: relative; 
}  

.contenedor_preguntas{
    background-color: white;
}
.preguntas_frecuentes_card {
      border: 0;
}
.preguntas_frecuentes_titulo {
        padding: 0;
        border: 0;
        background: none;
        margin-top: 40px; 
        text-align: center;

}
.preguntas_frecuentes_titulo a {
          font-size: 20px;  
          font-weight: 500;
          color: #000;
          position: relative;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size .3s;
          text-decoration-line: none;
          text-align: center;
}

.subrayado {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    text-decoration-line: none;
}

.subrayado:hover{
    background-size: 100% 2px;
    text-decoration-line: none;
}

.preguntas_frecuentes_titulo a:hover {
    color: #000;
}
.respuesta_pregunta {
        padding: 20px 20px 0; 
        font-size: 15px;
        text-align: justify;
}
.respuesta_pregunta a{
    font-size: 12px;
    font-weight: 500;
}
.preguntas_frecuentes .about-image img {
      width: 100%; 
}

.formulario_contacto{
    background-color:white ; 
    color: black;
}


@media (max-width: 575px) {
    .imagen_banner {
        margin-top: 35px;
        height: 120px;
    }
    .imagen_home{
        margin-top: 35px;
        height: 220px;        
    }
    .texto_banner h1{
        font-size: 25px; 
    }
    .preguntas_frecuentes .about-image img {
        display: none;
    }
    .fondo_banner {
        height: 155px;
    }
    .texto_banner{
        padding-top: 20%; 
        font-size: 30px;

    }
    .formulario_contacto{
        text-align: center !important;
    }

}
@media (min-width: 576px) and (max-width: 767px) {
    .imagen_home{
        margin-top: 20px;
        height: 380px;                
   }

    .imagen_banner {
    margin-top: 20px;
}
    .preguntas_frecuentes .about-image img {
    display: none;
}
    .fondo_banner {
    height: 185px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
    .imagen_home{
        margin-top: 20px;
        height: 380px;                
   }

    .imagen_banner {
    margin-top: 20px;
}
    .preguntas_frecuentes .about-image img {
    display: none;
}
    .fondo_banner {
    height: 240px;
}

}

@media (min-width: 992px) and (max-width: 1199px) {
    .imagen_home{
    margin-top: 18px;
    height: 400px;                
}

    .imagen_banner {
    margin-top: 20px;
}
    .preguntas_frecuentes .about-image img {
    display: none;
}

    .fondo_banner {
    height: 315px;
}

}

@media (min-width: 1200px) {
    .imagen_home{
        margin-top: 18px;
        height: 590px;                
   }

   .imagen_banner {
    margin-top: 20px;
}
   .preguntas_frecuentes .about-image img {
    display: none;
}

.fondo_banner {
    height: 370px;
}

}


