#body{
    background-image: url('/static/img/fondoBody.jpg');
    background-size: cover;

}

.asteriskField{
    visibility: hidden !important;
}

#id_foto_refugio{
    color: white !important;
}
#id_foto{
    color: white !important;
}

#div_id_email_newsletter label{
    display: none;
}

.imagen_banner {
    width: 100%; 
    background-repeat:no-repeat;
}
.imagen_banner2 {
    width: 100%; 
    height: 500px;
    background-repeat:no-repeat;
    background-size: cover; 
    position: absolute;
}

.contenedor_imagen{
    margin-bottom: 20px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.fondo_banner {
    background: rgba(12, 12, 12, 0.6); 
    position: absolute; 
    width: 100%;

}
.fondo_banner2 {
    background-color: rgba(12, 12, 12, 0.7); 
    width: 100%; 
    height: 500px; 
    position: relative;
}
.texto_banner{
    width: 100%;
    color: white; 
    padding-top: 20%; 
    font-weight: 500; 
    position: relative;
    font-size: 50px;
}

.imagen_home{
    width: 100%; 
    height: 700px;
    
}

.presentacion {
    background-color: rgba(12, 12, 12, 0.7);
}

.quienes_somos{
    text-align: center;
}

.imagen_quienes_somos {
    box-sizing: border-box;
    width: 100%;
    height: 15em; 
}

.staff {
    border-style: solid;
    border-radius: 200px;
}


.busqueda_foto {
    width: 100%;
    height: 300px;
}

.preguntas_frecuentes {
    position: relative; 
}  

.contenedor_preguntas{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(100, 100, 100, 0.15) !important;  
    backdrop-filter: blur(10px) !important;
    padding-bottom: 20px;
}
.preguntas_frecuentes_card {
      border: 0;
}
.preguntas_frecuentes_titulo {
        padding: 0;
        border: 0;
        background: none;
        margin-top: 40px; 
        text-align: center;

}
.preguntas_frecuentes_titulo a {
          font-size: 20px;  
          font-weight: 500;
          color: rgb(59, 59, 59);
          position: relative;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 50% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size .3s;
          text-decoration-line: none;
          padding-right: 10px;
          padding-left: 10px;
}

.subrayado {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    text-decoration-line: none;
    padding-right: 10px;
    padding-left: 10px;

}

.subrayado:hover{
    background-size: 70% 2px;
    text-decoration-line: none;
    padding-right: 10px;
    padding-left: 10px;
}

a:hover{
    text-decoration: none !important;
}
.preguntas_frecuentes_titulo a:hover {
    color: rgb(41, 41, 41);
    font-weight: 700;
}
.respuesta_pregunta {
        padding: 20px 20px 0; 
        font-size: 15px;
        text-align: justify;
        color:rgb(59, 59, 59);
}
.respuesta_pregunta a{
    font-size: 12px;
    font-weight: 500;
}
.preguntas_frecuentes .about-image img {
      width: 100%; 
      padding-top: 15px;
}

.formulario_contacto{
    background-color: rgba(100, 100, 100, 0.15) !important;  
    backdrop-filter: blur(10px) !important;
    color: rgb(65, 65, 65);
}


.social_icons{
    color: white;
    margin-right: 15px;
    font-size: 30px;

}

.boton_newsletter{
    font-size: 25px !important;
    padding: 0 !important;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-width: 0px;
    color: white;

}

.logo {
    font-size: 30px;
    padding: 5px;
    color: rgba(255,255,255,.5);
    border-radius: 300px;
    border-width: 3px;
    border-color: rgba(255,255,255,.5);
    border-style: solid;
}

.boton_login{
    color: white;
}
.formato_boton_login{
    border-color:white !important ;
}
.icono_login_navbar {
    color: white ;
}

.campos_login{
    width: 90% !important;
    display: inline !important;
}

.icono_login{
    color: #17a2b8;
    font-size: 22px;

}
.page-link{
    color: black !important;
}

.redes_iconos{
    width: 30px;
    margin-right: 15px;
}

.busqueda_nombre{
    display: inline;
    color:rgb(51, 51, 51)
    
}

.descripcion_busqueda{
    margin-top: 10px;
    font-size: 12px;
    color:rgb(59, 59, 59)
}

.descripcion_refugio{
    font-size: 13px; 
    margin-bottom: 30px;
    text-align: justify;
}

#caracteres_busqueda{
    font-size: 12px;
    font-weight: 600;    
    text-align: right !important;
}

#caracteres_refugio{
    font-size: 12px;
    font-weight: 600;    
    text-align: right !important;
}

.imagen_refugio{
    height: 250px;
}

.bloque_refugio{
    padding: 10px;
    background-color: rgba(100, 100, 100, 0.15) !important;  
    backdrop-filter: blur(10px) !important;
}

.contenedor_card{
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.contenedor_card_margin{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.bloque_busqueda{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.bloque_descripcion{
    background-color: rgba(100, 100, 100, 0.15) !important;  
    backdrop-filter: blur(10px) !important;
}

#footer {
    background-color: #343a40;
}

.ul_footer {
    list-style: none; 
    padding-left: 15px;
}

.li_footer{
    padding-bottom: 10px;
}

.text_footer{
    color: #F2F0F2 !important;
}

.text_footer_link{
    color: #F2F0F2 !important;
}

.text_footer_link:hover{
    color: #ffffff !important;
    font-weight: 600;
}

.h4_footer{
    padding-bottom: 15px; 
    color: #F2F0F2;
}

.fecha_creado{
    position: absolute;
    bottom: 10px; 
    right: 10px;
}

.pl15{
    padding-left: 30px !important;
}

.pr15{
    padding-right: 30px !important;
}

.paginacion{
    background-color: #343a40 !important;
    color: #F2F0F2 !important;
    border: 0px !important;
    margin-right: 3px !important;
}

.paginacion:hover{
    background-color: #4a525a !important;

}

.boton{
    background-color: #17a2b8 !important;
}




@media (max-width: 575px) {
    .imagen_banner {
        margin-top: 35px;
        height: 120px;
    }
    .imagen_home{
        margin-top: 35px;
        height: 220px;        
    }

    .fondo_banner {
        height: 155px;
    }
    .texto_banner{
        padding-top: 20%; 
        font-size: 30px;

    }
    .formulario_contacto{
        text-align: center !important;
    }
    .redes_iconos{
        margin-bottom: 30px !important;
    }
    .boton_login{
        display: none;
    }
    .boton_info{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .imagen_home{
        margin-top: 20px;
        height: 380px;                
    }
    .imagen_banner {
    margin-top: 15px;
    }
    .preguntas_frecuentes .about-image img {
    display: none;
    }
    .fondo_banner {
    height: 195px;
    }
    .boton_info{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .imagen_home{
        margin-top: 20px;
        height: 380px;                
    }
    .imagen_banner {
    margin-top: 10px;
    }

    .fondo_banner {
    height: 250px;
    }

    .redes_iconos{
    width: 21px;
    margin-right: 5px;
    }
    #div_id_email {
    width: 110px;
    }
    #div_id_email input::placeholder{
    text-overflow: ellipsis !important;
    font-size: 14px;
    }
    .preguntas_frecuentes .about-image img {
    display: none;
    }

    .bloque_descripcion{
        min-height: 210px !important;
    }
    .imagen_refugio{
        max-width: 500px !important;
        margin-left: 100px;

    }
    .bloque_refugio{
        max-width: 500px !important;
        margin-left: 100px;    
    }
    .boton_info{
        text-align: center;
    }
    .busqueda_foto {
        height: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .imagen_home{
    margin-top: 18px;
    height: 400px;  

}

    .imagen_banner {
    margin-top: 5px;
}
    .fondo_banner {
    height: 325px;
}
    .redes_iconos{
        width: 30px;
        margin-right: 5px;
}
    #div_id_email {
    width: 130px;
}
    .preguntas_frecuentes .about-image img {
    padding-bottom: 5px;
    }

    .bloque_descripcion{
        min-height: 190px !important;
    }

    .bloque_refugio{
        height: 250px;
    }

}

@media (min-width: 1200px) {
    .imagen_home{
    margin-top: 18px;
    height: 590px;                
   }
    .fondo_banner {
    height: 380px;
}
    .bloque_descripcion{
        min-height: 170px !important;
    }
    .bloque_refugio{
        height: 250px;
    }
}


